body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.routerLink {
  color: inherit;
  text-decoration: inherit;
  border: 3px solid #7bb02c;
  border-radius: 10px;
  display: inline-block;
  padding: 5px 10px;
  margin: auto 10px;
}

.routerLink:hover {
  color: #000000;
  border: 3px solid #ffffff;
}

.routerLink.active {
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #ffffff;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #7bb02c;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 10px 30px 10px 15px;
}

.tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: left;
}

.tab > h2 {
  font-size: 15px;
}

.leagues {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
}

.card {
  width: 250px;
  height: 300px;
  background: lightblue;
  margin: 20px;
  border: #000000 3px solid;
  border-radius: 5px;
}

.league > h1 {
  font-size: 25px;
}

.league {
  text-align: center;
  width: 244px;
  height: 300px;
}

.cardLink {
  color: inherit;
  text-decoration: inherit;
}

.leagueImage {
  width: 200px;
  height: auto;
  margin: auto;
}

.innerCard {
  width: 244px;
}

.activePageNumber {
  background-color: white;
}

.inactivaPageNumber {
  background-color: #000000;
}

.searchInput {
  margin: 10px 0 10px 10px;
  height: 25px;
}

.pagination {
  margin: 0 10px;
}

.pagination > button {
  width: 25px;
}

.breadCrumbs {
  display: flex;
  margin-top: 5px;
}

.breadCrumbs > div {
  margin-left: 5px;
}

table {
  margin: 5px;
  border-collapse: collapse;
  text-align: center;
}

table td {
  padding: 1px 5px;
  border: 1px solid #000000;
}

.errorMessage {
  margin: 10px;
  font-size: 25px;
  font-weight: 900;
}

.errorBoundaryMessage {
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

.status {
  min-width: 127px;
}

.homeTeam,
.awayTeam {
  min-width: 235px;
}

.score {
  min-width: 35px;
}
